
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  background-image: url("/img/scp45.png");
}

footer {
  position: relative;
  bottom: 0;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  background-color: #fff;
  box-shadow: -1px -1px rgba(0, 0, 0, 0.04);
}